.contact-us-page {
  margin-top: 75px;
}

.contactus
{
  width: 100%;
  color: #f9f5f1;
}

/*background image*/
.background-container 
{
  top: 0;
  width: 100%; 
  text-align: center;
  color: #191310;
  height: 100vh;
  background-image: url('../../images/world-map.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-overlay 
{
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h1 {
  font-size: 120px;
  color: #f9f5f1;
}

.addr h1 {
  margin-top: 40px;
  font-size: 50px;
  color: #f9f5f1;
  text-align: center;
}

.country-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 8vh auto;
  padding: 0 20px;
  column-gap: 4%;
}

.country-card {
  border-radius: 10px;
  width: 40%;
  margin-bottom: 100px;
  padding: 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.1s ease-in-out, transform 0.1s;
}

.country-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.country-name {
  color: #ffb870;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f9f5f1;
  text-align: center;
}

.country-image {
  display: block;
  width: 80%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 auto 15px auto;
}

.country-description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.query
{
  /* background: url('../../images/raise-a-query2.png'); */
  color: #f9f5f1;
  background-repeat: no-repeat;
}
.form-container {
  width: 50%;
  margin: 100px auto 0px auto;
  padding: 20px 10%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ffb870;

  text-align: center;
  background: #221a16;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h2 {
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #cacaca;
  border-radius: 4px;
}

.mobile-input {
  display: flex;
  gap: 10px;
}

.mobile-input select {
  width: 50%;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

.success-message {
  color: green;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .text-overlay h1 {
    font-size: 80px;
  }

  .addr h1 {
    font-size: 40px;
  }

  .country-name {
    font-size: 30px;
  }

  .country-description {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .text-overlay h1 {
    font-size: 60px;
  }
  
  .country-card {
    width: 85%;
  }
}
        