.guarantees {
    margin: 100px 80px;
    background-color: #191310;
    color: #f9f5f1;
    border-radius: 10px;
}

.guarantees-heading {
    font-size: 33px;
    text-align: center;
    padding: 40px 0px;
}

.guarantee-card-container {
    margin: 20px 40px;
    padding: 20px 0px 80px 0px;
    display: flex;
    justify-content: space-around;
}

.guarantee-card {
    width: 24%;
    text-align: center;
}

.guarantee-card img {
    padding: 10%;
}

@media screen and (max-width: 1200px) {
    .guarantees-heading {
        font-size: 27px;
    }
}

@media screen and (max-width: 900px) {
    .guarantee-card-container {
        flex-wrap: wrap;
    }

    .guarantee-card {
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 620px) {
    .guarantees {
        height: auto;
    }

    .guarantees-heading {
        font-size: 20px;
        padding: 10px 0px;
    }

    .guarantees-card-container {
        flex-wrap: wrap;
        padding: 0px;
    }

    .guarantee-card {
        width: 100%;
        font-size: 15px;
        padding: 10px 0px;
        margin: 10px 0px;
    }
}
