html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p {
    font-weight: lighter;
}

.home-page {
    color: #f9f5f1;
}

.hero-section {
    margin-top: 75px;
}

.company-name-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-text-and-img {
    margin-left: 30px;
}

.company-text-and-img h1, .company-text-and-img p {
    text-align: left;
    font-style: italic;
}

.company-text-and-img h1 {
    font-size: 120px;
}

.company-text-and-img p {
    font-size: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .company-text-and-img h1 {
        font-size: 80px;
    }

    .company-text-and-img p {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .company-text-and-img h1 {
        font-size: 60px;
    }

    .company-text-and-img p {
        font-size: 20px;
    }
}

@media screen and (max-width: 620px) {
    .company-text-and-img h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .company-text-and-img p {
        font-size: 15px;
    }
}
