.our-services-section {
    margin: 80px 0px;
}

.our-services-heading {
    text-align: center;
    font-size: 33px;
}

.our-services-card-container {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.link-card {
    width: 14%;
    height: auto;
    color: #191310;
    text-decoration: none;
}

.link-card p {
    color: #191310;
    transition: color 0.2s;
}

.link-card img {
    height: 60%;
    padding: 10% 0px;
}

.link-card p {
    padding: 10%;
    color: #191310;
}

.link-card:hover p {
    color: #ffb870;
}
