.past-clients-section {
    margin: 80px auto;
}

.client-card-heading {
    font-size: 47.5px;
    text-align: center;
}

.client-card-slider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clients-container {
    width: 80%;
    height: 300px;
    overflow-x: scroll;
    display: flex;
    /* Add the following lines for smooth scrolling */
    scroll-behavior: smooth;
    transition: scroll 0.3s ease-in-out;
}

.clients-container::-webkit-scrollbar {
    display: none;
}

.client-image {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50px;
    flex-shrink: 0;
}

.client-image img {
    height: 250px;
}

.clients-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

