#why-us {
  margin-top: 75px;
  width: 100%;
  text-align: center;
  color: #f9f5f1;
}
  
.why-us-heading-and-bkg-img {
  text-align: center;
  width: 100%;
  height: 105vh;
  background-image: url(../../images/why-us.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-us-heading-and-bkg-img h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 120px;
  padding-bottom: 50px;
  color: #f9f5f1;
}

#Reliability {
  margin-top: 80px;
}

.reliability-heading {
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.trust-ensure {
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trust-card {
  padding: 20px;
  margin-bottom: 80px;
  width: 40%;
  background-color: #f9f5f1;
  color: #191310;
  border-radius: 40px;
}

.trust-card h2 {
  font-size: 40px;
}

.trust-card p {
  text-align: justify;
  font-size: 25px;
  line-height: 45px;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .why-us-heading-and-bkg-img h1 {
    font-size: 80px;
  }

  .trust-ensure {
    margin: 40px auto;
  }

  .trust-card {
    width: 85%;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 620px) {
  .why-us-heading-and-bkg-img h1 {
    font-size: 60px;
  }

  .trust-card h2 {
    font-size: 30px;
  }

  .trust-card p {
    font-size: 20px;
  }
}
  