#why-us {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
  
.why-us-heading-and-bkg-img {
  text-align: center;
  width: 100%;
  height: 650px;
  background-image: url(../../images/why-us.png);
  background-size: cover;
  background-attachment: fixed;
}

.why-us-heading-and-bkg-img h1 {
  font-size: 80px;
  padding: 40px 80px;
  color: #ffb870;
}

.icons {
  justify-content: center; /* Centers horizontally */
  align-items: center;
  text-align: center;
  display:flex;
  flex-wrap: nowrap;
  gap: 200px;
  padding: 3cm;
  margin-bottom: 40px;
}

.icon-card {
  text-align: centre;
  padding: 10px;
}

.icon-card:hover .icon-text, .icon-card:hover .rounded-image {
  color: #ffb870;
}

.icons-navlink {
  text-decoration: none;
}

.rounded-image {
  border-radius: 100px;
}

.icon-text{
  color: #f9f5f1;
  padding: 10px;
  font-size: 20px;
}

#Reliability {
  margin-top: 80px;
}

.reliability-heading {
  font-size: 33px;
  text-align: center;
}

.trust-ensure {
  padding: 40px 80px;
  display: flex;
  justify-content: space-evenly;
}

.trust-card {
  padding: 20px;
  width: 40%;
  background-color: #f1dfce;
  border-radius: 40px;
}

.trust-card p {
  text-align: justify;
}
  
#Achievements {
  margin-top: 80px;
}

.achievements-heading {
  font-size: 33px;
  text-align: center;
}

.achievements {
  padding: 40px 80px;
}

.achievement-card {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.achievement-text {
  width: 70%;
  text-align: left;
  padding: 20px;
}

.achievement-card img {
  width: 30%;
  height: 70%;
  border-radius: 50px;
}
  
.future-goals {
  color: #191310;
  text-align: left;
  padding: 80px;
}

.future-goals h2 {
  font-size: 33px;
}
  